In [1]:
import pandas as pd
import gmaps
import requests

from config import g_key

In [2]:
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Gayny,RU,2022-01-25 10:00:16,60.3071,54.3241,18.27,83,96,10.71
1,1,Avarua,CK,2022-01-25 09:58:18,-21.2078,-159.7750,75.25,100,20,1.14
2,2,Nichinan,JP,2022-01-25 10:00:18,31.6000,131.3667,46.76,83,96,7.36
3,3,Vaini,TO,2022-01-25 10:00:19,-21.2000,-175.2000,80.73,74,16,17.52
4,4,Codrington,AU,2022-01-25 10:00:20,-38.2667,141.9667,73.94,57,97,9.82

In [3]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568 entries, 0 to 567
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     568 non-null    int64
 1   City        568 non-null    object
 2   Country     563 non-null    object
 3   Date        568 non-null    object
 4   Lat         568 non-null    float64
 5   Lng         568 non-null    float64
 6   Max Temp    568 non-null    float64
 7   Humidity    568 non-null    int64
 8   Cloudiness  568 non-null    int64
 9   Wind Speed  568 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 44.5+ KB

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Gayny,RU,2022-01-25 10:00:16,60.3071,54.3241,18.27,83,96,10.71
1,1,Avarua,CK,2022-01-25 09:58:18,-21.2078,-159.7750,75.25,100,20,1.14
2,2,Nichinan,JP,2022-01-25 10:00:18,31.6000,131.3667,46.76,83,96,7.36
3,3,Vaini,TO,2022-01-25 10:00:19,-21.2000,-175.2000,80.73,74,16,17.52
4,4,Codrington,AU,2022-01-25 10:00:20,-38.2667,141.9667,73.94,57,97,9.82

In [6]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature

# Get the latitude and longitude
locations = city_data_df[['Lat', 'Lng']]

# Get the maximum temperature
max_temp = city_data_df['Max Temp']
    
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False,
                                 max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[['Lat', "Lng"]]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Wind Speed Heatmap
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))