In [1]:
import pandas as pd
import gmaps
import requests

from config import g_key

In [2]:
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Gayny,RU,2022-01-25 10:00:16,60.3071,54.3241,18.27,83,96,10.71
1,1,Avarua,CK,2022-01-25 09:58:18,-21.2078,-159.7750,75.25,100,20,1.14
2,2,Nichinan,JP,2022-01-25 10:00:18,31.6000,131.3667,46.76,83,96,7.36
3,3,Vaini,TO,2022-01-25 10:00:19,-21.2000,-175.2000,80.73,74,16,17.52
4,4,Codrington,AU,2022-01-25 10:00:20,-38.2667,141.9667,73.94,57,97,9.82

In [3]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568 entries, 0 to 567
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     568 non-null    int64
 1   City        568 non-null    object
 2   Country     563 non-null    object
 3   Date        568 non-null    object
 4   Lat         568 non-null    float64
 5   Lng         568 non-null    float64
 6   Max Temp    568 non-null    float64
 7   Humidity    568 non-null    int64
 8   Cloudiness  568 non-null    int64
 9   Wind Speed  568 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 44.5+ KB

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Gayny,RU,2022-01-25 10:00:16,60.3071,54.3241,18.27,83,96,10.71
1,1,Avarua,CK,2022-01-25 09:58:18,-21.2078,-159.7750,75.25,100,20,1.14
2,2,Nichinan,JP,2022-01-25 10:00:18,31.6000,131.3667,46.76,83,96,7.36
3,3,Vaini,TO,2022-01-25 10:00:19,-21.2000,-175.2000,80.73,74,16,17.52
4,4,Codrington,AU,2022-01-25 10:00:20,-38.2667,141.9667,73.94,57,97,9.82

In [6]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature

# Get the latitude and longitude
locations = city_data_df[['Lat', 'Lng']]

# Get the maximum temperature
max_temp = city_data_df['Max Temp']
    
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False,
                                 max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[['Lat', "Lng"]]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Wind Speed Heatmap
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Map Vacation Criteria

In [12]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?25
What is the maximum temperature you would like for your trip?29

In [12]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) &
                                       (city_data_df['Max Temp'] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Avarua,CK,2022-01-25 09:58:18,-21.2078,-159.7750,75.25,100,20,1.14
3,3,Vaini,TO,2022-01-25 10:00:19,-21.2000,-175.2000,80.73,74,16,17.52
9,9,Georgetown,MY,2022-01-25 10:00:24,5.4112,100.3354,85.95,74,20,8.05
17,17,Sehithwa,BW,2022-01-25 10:00:26,-20.4667,22.7167,84.83,39,90,6.29
26,26,Sibolga,ID,2022-01-25 10:00:30,1.7427,98.7792,81.28,83,74,3.42
28,28,East London,ZA,2022-01-25 09:58:42,-33.0153,27.9116,76.14,78,20,12.66
29,29,Rikitea,PF,2022-01-25 10:00:31,-23.1203,-134.9692,78.06,75,100,17.69
31,31,Hlotse,LS,2022-01-25 10:00:32,-28.8718,28.0450,82.24,29,8,3.80
32,32,Samarai,PG,2022-01-25 10:00:33,-10.6167,150.6667,84.40,74,100,5.70
41,41,Sumbe,AO,2022-01-25 10:00:37,-11.2061,13.8437,82.00,71,74,7.58

In [13]:
preferred_cities_df.count()

City_ID       150
City          150
Country       150
Date          150
Lat           150
Lng           150
Max Temp      150
Humidity      150
Cloudiness    150
Wind Speed    150
dtype: int64

In [16]:
#hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']]
hotel_df = preferred_cities_df.loc[:, ('City', 'Country', 'Max Temp', 'Lat', 'Lng')]

hotel_df['Hotel Name'] = ''
hotel_df.head()

          City Country  Max Temp      Lat       Lng Hotel Name
1       Avarua      CK     75.25 -21.2078 -159.7750
3        Vaini      TO     80.73 -21.2000 -175.2000
9   Georgetown      MY     85.95   5.4112  100.3354
17    Sehithwa      BW     84.83 -20.4667   22.7167
26     Sibolga      ID     81.28   1.7427   98.7792

In [17]:
url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

In [18]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f'{lat},{lng}'
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
3,Vaini,TO,80.73,-21.2000,-175.2000,Keleti Beach Resort
9,Georgetown,MY,85.95,5.4112,100.3354,Cititel Penang
17,Sehithwa,BW,84.83,-20.4667,22.7167,MONLEK GUEST HOUSE
26,Sibolga,ID,81.28,1.7427,98.7792,Hotel Syariah CN Darussalam

In [54]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

for i in hotel_info:
    print (i)

<dl>
<dt>Hotel Name</dt><dd>Paradise Inn</dd>
<dt>City</dt><dd>Avarua</dd>
<dt>Country</dt><dd>CK</dd>
<dt>Max Temp</dt><dd>75.25 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>
<dt>City</dt><dd>Vaini</dd>
<dt>Country</dt><dd>TO</dd>
<dt>Max Temp</dt><dd>80.73 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Cititel Penang</dd>
<dt>City</dt><dd>Georgetown</dd>
<dt>Country</dt><dd>MY</dd>
<dt>Max Temp</dt><dd>85.95 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>MONLEK GUEST HOUSE</dd>
<dt>City</dt><dd>Sehithwa</dd>
<dt>Country</dt><dd>BW</dd>
<dt>Max Temp</dt><dd>84.83 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Hotel Syariah CN Darussalam</dd>
<dt>City</dt><dd>Sibolga</dd>
<dt>Country</dt><dd>ID</dd>
<dt>Max Temp</dt><dd>81.28 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Tu Casa</dd>
<dt>City</dt><dd>East London</dd>
<dt>Country</dt><dd>ZA</dd>
<dt>Max Temp</dt><dd>76.14 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>People ThankYou</dd>
<dt>City</dt><dd>Rikitea</dd>
<dt>Country</dt><dd>PF</dd>
<dt>Max Temp</dt><dd>78.06 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Naleli Guest House</dd>
<dt>City</dt><dd>Hlotse</dd>
<dt>Country</dt><dd>LS</dd>
<dt>Max Temp</dt><dd>82.24 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Nuli Sapi</dd>
<dt>City</dt><dd>Samarai</dd>
<dt>Country</dt><dd>PG</dd>
<dt>Max Temp</dt><dd>84.4 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Hotel Ritz Sumbe</dd>
<dt>City</dt><dd>Sumbe</dd>
<dt>Country</dt><dd>AO</dd>
<dt>Max Temp</dt><dd>82.0 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Hospitality Carnarvon</dd>
<dt>City</dt><dd>Carnarvon</dd>
<dt>Country</dt><dd>AU</dd>
<dt>Max Temp</dt><dd>78.93 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Nyah Lasem | Museum, Warung & Community Center</dd>
<dt>City</dt><dd>Lasem</dd>
<dt>Country</dt><dd>ID</dd>
<dt>Max Temp</dt><dd>82.17 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>
<dt>City</dt><dd>Butaritari</dd>
<dt>Country</dt><dd>KI</dd>
<dt>Max Temp</dt><dd>81.82 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Southern Sun Waterfront Cape Town</dd>
<dt>City</dt><dd>Cape Town</dd>
<dt>Country</dt><dd>ZA</dd>
<dt>Max Temp</dt><dd>82.11 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>እንደገና ገዋኔ ሞቴል</dd>
<dt>City</dt><dd>Gewane</dd>
<dt>Country</dt><dd>ET</dd>
<dt>Max Temp</dt><dd>85.64 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Scoop Guest House</dd>
<dt>City</dt><dd>Hithadhoo</dd>
<dt>Country</dt><dd>MV</dd>
<dt>Max Temp</dt><dd>82.09 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Sunshine Inn</dd>
<dt>City</dt><dd>Sao Goncalo Do Amarante</dd>
<dt>Country</dt><dd>BR</dd>
<dt>Max Temp</dt><dd>78.84 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Lakatoro Palm Lodge</dd>
<dt>City</dt><dd>Lakatoro</dd>
<dt>Country</dt><dd>VU</dd>
<dt>Max Temp</dt><dd>82.18 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Hotel Xaguate</dd>
<dt>City</dt><dd>Sao Filipe</dd>
<dt>Country</dt><dd>CV</dd>
<dt>Max Temp</dt><dd>79.07 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Maia's Beach Resort</dd>
<dt>City</dt><dd>Sulangan</dd>
<dt>Country</dt><dd>PH</dd>
<dt>Max Temp</dt><dd>78.24 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Gîte kajeon</dd>
<dt>City</dt><dd>Poum</dd>
<dt>Country</dt><dd>NC</dd>
<dt>Max Temp</dt><dd>79.77 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Bora-Bora Pearl Beach Resort & Spa</dd>
<dt>City</dt><dd>Faanui</dd>
<dt>Country</dt><dd>PF</dd>
<dt>Max Temp</dt><dd>80.49 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Halane Hotel and Restaurent</dd>
<dt>City</dt><dd>Hobyo</dd>
<dt>Country</dt><dd>SO</dd>
<dt>Max Temp</dt><dd>81.7 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Mega Hotel, Miri</dd>
<dt>City</dt><dd>Miri</dd>
<dt>Country</dt><dd>MY</dd>
<dt>Max Temp</dt><dd>79.95 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Observatory Guest House</dd>
<dt>City</dt><dd>Busselton</dd>
<dt>Country</dt><dd>AU</dd>
<dt>Max Temp</dt><dd>80.1 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Vahmoneh Lodge Vanimo</dd>
<dt>City</dt><dd>Vanimo</dd>
<dt>Country</dt><dd>PG</dd>
<dt>Max Temp</dt><dd>79.3 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Lynd Hotels Soubre</dd>
<dt>City</dt><dd>Soubre</dd>
<dt>Country</dt><dd>CI</dd>
<dt>Max Temp</dt><dd>85.77 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd></dd>
<dt>City</dt><dd>Marzuq</dd>
<dt>Country</dt><dd>YE</dd>
<dt>Max Temp</dt><dd>75.78 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Pousada e churrascaria Manguaba</dd>
<dt>City</dt><dd>Pilar</dd>
<dt>Country</dt><dd>BR</dd>
<dt>Max Temp</dt><dd>78.73 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Villa Enata</dd>
<dt>City</dt><dd>Atuona</dd>
<dt>Country</dt><dd>PF</dd>
<dt>Max Temp</dt><dd>78.19 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>The Commodore</dd>
<dt>City</dt><dd>Mount Gambier</dd>
<dt>Country</dt><dd>AU</dd>
<dt>Max Temp</dt><dd>75.25 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Mercure Padang</dd>
<dt>City</dt><dd>Padang</dd>
<dt>Country</dt><dd>ID</dd>
<dt>Max Temp</dt><dd>84.25 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Pousada Monte Carmelo O Pão</dd>
<dt>City</dt><dd>Belmonte</dd>
<dt>Country</dt><dd>BR</dd>
<dt>Max Temp</dt><dd>75.7 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Weligama Bay Resort</dd>
<dt>City</dt><dd>Weligama</dd>
<dt>Country</dt><dd>LK</dd>
<dt>Max Temp</dt><dd>81.43 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Chambres d'hôte "La Trinité"</dd>
<dt>City</dt><dd>Saint-Philippe</dd>
<dt>Country</dt><dd>RE</dd>
<dt>Max Temp</dt><dd>83.79 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Lambitu Hotel</dd>
<dt>City</dt><dd>Bima</dd>
<dt>Country</dt><dd>ID</dd>
<dt>Max Temp</dt><dd>80.65 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>The Halyards Hotel</dd>
<dt>City</dt><dd>Port Alfred</dd>
<dt>Country</dt><dd>ZA</dd>
<dt>Max Temp</dt><dd>78.87 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd></dd>
<dt>City</dt><dd>Aitape</dd>
<dt>Country</dt><dd>PG</dd>
<dt>Max Temp</dt><dd>80.1 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Mhaw Wun Marlar Park</dd>
<dt>City</dt><dd>Thongwa</dd>
<dt>Country</dt><dd>MM</dd>
<dt>Max Temp</dt><dd>89.76 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Lidera</dd>
<dt>City</dt><dd>Carutapera</dd>
<dt>Country</dt><dd>BR</dd>
<dt>Max Temp</dt><dd>77.58 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Hotel hewa bora</dd>
<dt>City</dt><dd>Manono</dd>
<dt>Country</dt><dd>CD</dd>
<dt>Max Temp</dt><dd>79.02 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Osprey Beach Hotel</dd>
<dt>City</dt><dd>Cockburn Town</dd>
<dt>Country</dt><dd>TC</dd>
<dt>Max Temp</dt><dd>76.66 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Broadwater Mariner Resort</dd>
<dt>City</dt><dd>Geraldton</dd>
<dt>Country</dt><dd>AU</dd>
<dt>Max Temp</dt><dd>75.61 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Blendana Hotel Assosa</dd>
<dt>City</dt><dd>Asosa</dd>
<dt>Country</dt><dd>ET</dd>
<dt>Max Temp</dt><dd>84.0 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Bungalow 63</dd>
<dt>City</dt><dd>Hambantota</dd>
<dt>Country</dt><dd>LK</dd>
<dt>Max Temp</dt><dd>86.34 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Seagulls Inn Namatani</dd>
<dt>City</dt><dd>Namatanai</dd>
<dt>Country</dt><dd>PG</dd>
<dt>Max Temp</dt><dd>81.14 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Hotel Pigalle</dd>
<dt>City</dt><dd>Cabedelo</dd>
<dt>Country</dt><dd>BR</dd>
<dt>Max Temp</dt><dd>81.68 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Hotel Juba</dd>
<dt>City</dt><dd>Mogadishu</dd>
<dt>Country</dt><dd>SO</dd>
<dt>Max Temp</dt><dd>84.09 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Ko Arkar Lin</dd>
<dt>City</dt><dd>Letpadan</dd>
<dt>Country</dt><dd>MM</dd>
<dt>Max Temp</dt><dd>86.83 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>OYO 3271 Homestay Pandian</dd>
<dt>City</dt><dd>Sumenep</dd>
<dt>Country</dt><dd>ID</dd>
<dt>Max Temp</dt><dd>82.18 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Tinidee Hotel@Ranong</dd>
<dt>City</dt><dd>Ranong</dd>
<dt>Country</dt><dd>TH</dd>
<dt>Max Temp</dt><dd>83.68 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Central Hotel</dd>
<dt>City</dt><dd>Quang Ngai</dd>
<dt>Country</dt><dd>VN</dd>
<dt>Max Temp</dt><dd>76.78 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Hotel Harbhole</dd>
<dt>City</dt><dd>Una</dd>
<dt>Country</dt><dd>IN</dd>
<dt>Max Temp</dt><dd>75.45 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Shandrani Beachcomber Resort & Spa</dd>
<dt>City</dt><dd>Mahebourg</dd>
<dt>Country</dt><dd>MU</dd>
<dt>Max Temp</dt><dd>84.25 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Kost Pria</dd>
<dt>City</dt><dd>Meulaboh</dd>
<dt>Country</dt><dd>ID</dd>
<dt>Max Temp</dt><dd>83.37 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Tanna Lodge</dd>
<dt>City</dt><dd>Isangel</dd>
<dt>Country</dt><dd>VU</dd>
<dt>Max Temp</dt><dd>81.36 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>East Arnhem Real Estate</dd>
<dt>City</dt><dd>Nhulunbuy</dd>
<dt>Country</dt><dd>AU</dd>
<dt>Max Temp</dt><dd>81.21 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Undulata Country Lodge</dd>
<dt>City</dt><dd>Springbok</dd>
<dt>Country</dt><dd>ZA</dd>
<dt>Max Temp</dt><dd>89.65 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Misty Waves Boutique Hotel</dd>
<dt>City</dt><dd>Hermanus</dd>
<dt>Country</dt><dd>ZA</dd>
<dt>Max Temp</dt><dd>82.9 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Pousada Rua Camurupim</dd>
<dt>City</dt><dd>Aquiraz</dd>
<dt>Country</dt><dd>BR</dd>
<dt>Max Temp</dt><dd>81.21 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Guest House HESADA</dd>
<dt>City</dt><dd>Angoche</dd>
<dt>Country</dt><dd>MZ</dd>
<dt>Max Temp</dt><dd>85.73 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Shanti Maurice Resort & Spa</dd>
<dt>City</dt><dd>Souillac</dd>
<dt>Country</dt><dd>MU</dd>
<dt>Max Temp</dt><dd>84.36 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Poutur Pousada</dd>
<dt>City</dt><dd>Maceio</dd>
<dt>Country</dt><dd>BR</dd>
<dt>Max Temp</dt><dd>80.04 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Gopalpur Palm Resort</dd>
<dt>City</dt><dd>Gopalpur</dd>
<dt>Country</dt><dd>IN</dd>
<dt>Max Temp</dt><dd>76.08 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Mubashar Quarters</dd>
<dt>City</dt><dd>Turbat</dd>
<dt>Country</dt><dd>PK</dd>
<dt>Max Temp</dt><dd>76.46 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Pousada Porto Praia</dd>
<dt>City</dt><dd>Arraial Do Cabo</dd>
<dt>Country</dt><dd>BR</dd>
<dt>Max Temp</dt><dd>76.86 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Hôtel & Restaurant DIANA Ambilobe</dd>
<dt>City</dt><dd>Ambilobe</dd>
<dt>Country</dt><dd>MG</dd>
<dt>Max Temp</dt><dd>83.25 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Taloa Heights</dd>
<dt>City</dt><dd>Alofi</dd>
<dt>Country</dt><dd>NU</dd>
<dt>Max Temp</dt><dd>81.01 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Grage Hotel Bengkulu</dd>
<dt>City</dt><dd>Bengkulu</dd>
<dt>Country</dt><dd>ID</dd>
<dt>Max Temp</dt><dd>83.88 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Kip's Eco Resort</dd>
<dt>City</dt><dd>Nandi Hills</dd>
<dt>Country</dt><dd>KE</dd>
<dt>Max Temp</dt><dd>80.1 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Desert Palms Alice Springs</dd>
<dt>City</dt><dd>Alice Springs</dd>
<dt>Country</dt><dd>AU</dd>
<dt>Max Temp</dt><dd>87.35 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Hotel Bate</dd>
<dt>City</dt><dd>Kankan</dd>
<dt>Country</dt><dd>GN</dd>
<dt>Max Temp</dt><dd>79.45 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Hotel Memory</dd>
<dt>City</dt><dd>Akyab</dd>
<dt>Country</dt><dd>MM</dd>
<dt>Max Temp</dt><dd>77.58 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Piaçabuçu News</dd>
<dt>City</dt><dd>Piacabucu</dd>
<dt>Country</dt><dd>BR</dd>
<dt>Max Temp</dt><dd>79.16 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Khách Sạn Mường Thanh Luxury Cà Mau</dd>
<dt>City</dt><dd>Ca Mau</dd>
<dt>Country</dt><dd>VN</dd>
<dt>Max Temp</dt><dd>82.87 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Casa Tia Villa</dd>
<dt>City</dt><dd>Bambous Virieux</dd>
<dt>Country</dt><dd>MU</dd>
<dt>Max Temp</dt><dd>84.22 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Atlantis Hotel</dd>
<dt>City</dt><dd>Bathsheba</dd>
<dt>Country</dt><dd>BB</dd>
<dt>Max Temp</dt><dd>75.81 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Lorengau Harbourside Hotel</dd>
<dt>City</dt><dd>Lorengau</dd>
<dt>Country</dt><dd>PG</dd>
<dt>Max Temp</dt><dd>82.15 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Sheraton Nha Trang Hotel & Spa</dd>
<dt>City</dt><dd>Nha Trang</dd>
<dt>Country</dt><dd>VN</dd>
<dt>Max Temp</dt><dd>78.8 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Movenpick Hotel Doha</dd>
<dt>City</dt><dd>Doha</dd>
<dt>Country</dt><dd>QA</dd>
<dt>Max Temp</dt><dd>80.58 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Hotel Citra</dd>
<dt>City</dt><dd>Sabang</dd>
<dt>Country</dt><dd>ID</dd>
<dt>Max Temp</dt><dd>81.86 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>JABIR HOTEL</dd>
<dt>City</dt><dd>Bandarbeyla</dd>
<dt>Country</dt><dd>SO</dd>
<dt>Max Temp</dt><dd>78.71 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Timotel Hotel</dd>
<dt>City</dt><dd>Mersing</dd>
<dt>Country</dt><dd>MY</dd>
<dt>Max Temp</dt><dd>81.19 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Planta Hotel & Residences</dd>
<dt>City</dt><dd>Bacolod</dd>
<dt>Country</dt><dd>PH</dd>
<dt>Max Temp</dt><dd>76.71 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Nusa Island Retreat</dd>
<dt>City</dt><dd>Kavieng</dd>
<dt>Country</dt><dd>PG</dd>
<dt>Max Temp</dt><dd>83.28 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Orient Apartments</dd>
<dt>City</dt><dd>Nizwa</dd>
<dt>Country</dt><dd>OM</dd>
<dt>Max Temp</dt><dd>77.25 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Nathaniel's Lodge</dd>
<dt>City</dt><dd>Basco</dd>
<dt>Country</dt><dd>PH</dd>
<dt>Max Temp</dt><dd>75.36 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Hotel Olako</dd>
<dt>City</dt><dd>Omboue</dd>
<dt>Country</dt><dd>GA</dd>
<dt>Max Temp</dt><dd>81.46 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>KOPKAR Hotel Bintang Sintuk</dd>
<dt>City</dt><dd>Bontang</dd>
<dt>Country</dt><dd>ID</dd>
<dt>Max Temp</dt><dd>81.45 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Hotel Castelo</dd>
<dt>City</dt><dd>Cidreira</dd>
<dt>Country</dt><dd>BR</dd>
<dt>Max Temp</dt><dd>76.55 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Ha'apai Beach Resort</dd>
<dt>City</dt><dd>Pangai</dd>
<dt>Country</dt><dd>TO</dd>
<dt>Max Temp</dt><dd>81.25 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>kali mandir</dd>
<dt>City</dt><dd>Patrasaer</dd>
<dt>Country</dt><dd>IN</dd>
<dt>Max Temp</dt><dd>76.95 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>INN NEW HORIZON</dd>
<dt>City</dt><dd>Touros</dd>
<dt>Country</dt><dd>BR</dd>
<dt>Max Temp</dt><dd>77.9 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>CeBlue Villas & Beach Resort</dd>
<dt>City</dt><dd>The Valley</dd>
<dt>Country</dt><dd>AI</dd>
<dt>Max Temp</dt><dd>76.86 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Medhufushi Island Resort</dd>
<dt>City</dt><dd>Muli</dd>
<dt>Country</dt><dd>MV</dd>
<dt>Max Temp</dt><dd>81.12 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd></dd>
<dt>City</dt><dd>Umm Kaddadah</dd>
<dt>Country</dt><dd>SD</dd>
<dt>Max Temp</dt><dd>78.87 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>AVN lodge</dd>
<dt>City</dt><dd>Hosakote</dd>
<dt>Country</dt><dd>IN</dd>
<dt>Max Temp</dt><dd>83.84 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Hotels in Lakshadweep Islands</dd>
<dt>City</dt><dd>Kavaratti</dd>
<dt>Country</dt><dd>IN</dd>
<dt>Max Temp</dt><dd>78.17 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Haajy Guest House 1</dd>
<dt>City</dt><dd>Kulhudhuffushi</dd>
<dt>Country</dt><dd>MV</dd>
<dt>Max Temp</dt><dd>80.85 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Sapriadi Appy</dd>
<dt>City</dt><dd>Galesong</dd>
<dt>Country</dt><dd>ID</dd>
<dt>Max Temp</dt><dd>84.22 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Axim Beach Resort And Spa</dd>
<dt>City</dt><dd>Axim</dd>
<dt>Country</dt><dd>GH</dd>
<dt>Max Temp</dt><dd>84.47 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>DoubleFAG</dd>
<dt>City</dt><dd>Labuhan</dd>
<dt>Country</dt><dd>ID</dd>
<dt>Max Temp</dt><dd>82.94 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Bo Khin Guest House</dd>
<dt>City</dt><dd>Chauk</dd>
<dt>Country</dt><dd>MM</dd>
<dt>Max Temp</dt><dd>81.79 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Pousada Porto De Canoas</dd>
<dt>City</dt><dd>Sao Joao Da Barra</dd>
<dt>Country</dt><dd>BR</dd>
<dt>Max Temp</dt><dd>78.89 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Saigon Morin Hotel</dd>
<dt>City</dt><dd>Hue</dd>
<dt>Country</dt><dd>VN</dd>
<dt>Max Temp</dt><dd>75.31 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>GUBUK SUGIANTO</dd>
<dt>City</dt><dd>Kencong</dd>
<dt>Country</dt><dd>ID</dd>
<dt>Max Temp</dt><dd>82.49 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd></dd>
<dt>City</dt><dd>Saint-Louis</dd>
<dt>Country</dt><dd>SN</dd>
<dt>Max Temp</dt><dd>80.82 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Grand Vilia Hotel</dd>
<dt>City</dt><dd>Tual</dd>
<dt>Country</dt><dd>ID</dd>
<dt>Max Temp</dt><dd>84.0 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Cossam Guest House</dd>
<dt>City</dt><dd>Finschhafen</dd>
<dt>Country</dt><dd>PG</dd>
<dt>Max Temp</dt><dd>82.4 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Sunset Inn</dd>
<dt>City</dt><dd>Monrovia</dd>
<dt>Country</dt><dd>LR</dd>
<dt>Max Temp</dt><dd>78.57 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Casa Dora, Bubaque</dd>
<dt>City</dt><dd>Bubaque</dd>
<dt>Country</dt><dd>GW</dd>
<dt>Max Temp</dt><dd>78.26 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Leumerus Bungalows</dd>
<dt>City</dt><dd>Sola</dd>
<dt>Country</dt><dd>VU</dd>
<dt>Max Temp</dt><dd>83.34 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Trinity Plains Tourist Park</dd>
<dt>City</dt><dd>Mareeba</dd>
<dt>Country</dt><dd>AU</dd>
<dt>Max Temp</dt><dd>76.44 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>مزرعة راحة النفوس المنزفة</dd>
<dt>City</dt><dd>Ibra</dd>
<dt>Country</dt><dd>OM</dd>
<dt>Max Temp</dt><dd>76.71 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Boucan Canot</dd>
<dt>City</dt><dd>Saint-Paul</dd>
<dt>Country</dt><dd>RE</dd>
<dt>Max Temp</dt><dd>84.31 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Omadhoo Inn</dd>
<dt>City</dt><dd>Mahibadhoo</dd>
<dt>Country</dt><dd>MV</dd>
<dt>Max Temp</dt><dd>80.47 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Daru Lodge</dd>
<dt>City</dt><dd>Daru</dd>
<dt>Country</dt><dd>PG</dd>
<dt>Max Temp</dt><dd>81.3 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>บ้านเพ็ชรจำปา</dd>
<dt>City</dt><dd>Nong Ki</dd>
<dt>Country</dt><dd>TH</dd>
<dt>Max Temp</dt><dd>88.63 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Bartz Hotel</dd>
<dt>City</dt><dd>Camaqua</dd>
<dt>Country</dt><dd>BR</dd>
<dt>Max Temp</dt><dd>75.97 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>ibis Balikpapan</dd>
<dt>City</dt><dd>Balikpapan</dd>
<dt>Country</dt><dd>ID</dd>
<dt>Max Temp</dt><dd>80.65 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Royal Park hotel & suites</dd>
<dt>City</dt><dd>Minna</dd>
<dt>Country</dt><dd>NG</dd>
<dt>Max Temp</dt><dd>85.51 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel</dd>
<dt>City</dt><dd>Salalah</dd>
<dt>Country</dt><dd>OM</dd>
<dt>Max Temp</dt><dd>82.49 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>OYO 2964 Hotel Ridho</dd>
<dt>City</dt><dd>Langsa</dd>
<dt>Country</dt><dd>ID</dd>
<dt>Max Temp</dt><dd>76.8 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>janelas do mar</dd>
<dt>City</dt><dd>Trairi</dd>
<dt>Country</dt><dd>BR</dd>
<dt>Max Temp</dt><dd>78.39 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Lindsey Hôtel</dd>
<dt>City</dt><dd>Saint-Pierre</dd>
<dt>Country</dt><dd>RE</dd>
<dt>Max Temp</dt><dd>83.88 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Eng Hiirey House</dd>
<dt>City</dt><dd>Odweyne</dd>
<dt>Country</dt><dd>SO</dd>
<dt>Max Temp</dt><dd>81.28 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd></dd>
<dt>City</dt><dd>Mayor Pablo Lagerenza</dd>
<dt>Country</dt><dd>PY</dd>
<dt>Max Temp</dt><dd>76.42 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>La Case Bambou</dd>
<dt>City</dt><dd>Morondava</dd>
<dt>Country</dt><dd>MG</dd>
<dt>Max Temp</dt><dd>86.68 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Hotel Marilu</dd>
<dt>City</dt><dd>Vila Do Maio</dd>
<dt>Country</dt><dd>CV</dd>
<dt>Max Temp</dt><dd>77.79 °F</dd>
</dl>


<dl>
<dt>Hotel Name</dt><dd>Pereybere Hotel & Spa</dd>
<dt>City</dt><dd>Cap Malheureux</dd>
<dt>Country</dt><dd>MU</dd>
<dt>Max Temp</dt><dd>84.47 °F</dd>
</dl>


<dl>

In [55]:
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, max_temp,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))