In [1]:
import pandas as pd
import numpy as np
import requests

from citipy import citipy

from config import weather_api_key
from config import g_key

import time
from datetime import datetime

## Deliverable 1: Retrieve Weather Data

In [2]:
# Create a new set of 2,000 random latitudes and longitudes
lati = np.random.uniform(-90, 90, size=2000)
longi = np.random.uniform(-180, 180, size=2000)

# Combine arrays into a list of tupples
lati_longi = zip(lati, longi)

In [3]:
# Unzip the lati_longi (this can be run only once)
coordinates = list(lati_longi)

In [4]:
# Cities list
cities = []
for i in coordinates:
    city = citipy.nearest_city(i[0], i[1])
    if city.city_name not in cities:
        cities.append(city.city_name)
len(cities)

759

In [ ]:
# Retrieve information from the API OpenWeatherMap:

url = f'https://api.openweathermap.org/data/2.5/weather?'
#cities_110 = cities[0:110]

weather_data = []
for i, city in enumerate(cities):
    response = requests.get(f'{url}q={city.replace(" ", "+")}&appid={weather_api_key}').json()

    try:
        weather_data.append({'City': response['name'],
                             'Country': response['sys']['country'],
                             'Lat': response['coord']['lat'],
                             'Lng': response['coord']['lon'],
                             'Max Temperature': response['main']['temp_max'],
                             'Humidity': response['main']['humidity'],
                             'Cloudiness': response['visibility'],
                             'Wind Speed': response['wind']['speed'],
                             'Current Description': response['weather'][0]['description']})
    except:
        print(f'City {city} not found')
    
    if (i>0) & (i%50 == 0):
        hour = datetime.now().strftime('%H:%M:%S')
        print(f'time: {hour} | {i} | Waiting')
        time.sleep(60)

Data not found
Data not found
Data not found
Data not found
time: 19:24:48 | 50 | Waiting
Data not found
Data not found
Data not found
Data not found
Data not found
Data not found
Data not found
time: 19:26:07 | 100 | Waiting
Data not found
Data not found
Data not found
time: 19:27:26 | 150 | Waiting
Data not found
Data not found
Data not found
Data not found
Data not found
Data not found
Data not found
time: 19:28:47 | 200 | Waiting
Data not found
Data not found
Data not found
time: 19:30:12 | 250 | Waiting
Data not found
Data not found
time: 19:31:35 | 300 | Waiting
Data not found
Data not found
Data not found
Data not found
Data not found
time: 19:32:56 | 350 | Waiting
Data not found
time: 19:34:19 | 400 | Waiting
Data not found
Data not found
time: 19:35:39 | 450 | Waiting
Data not found
Data not found
Data not found
Data not found
time: 19:36:59 | 500 | Waiting

In [15]:
# Convert data into a Data Frame
weather_data_df = pd.DataFrame(weather_data)
weather_data_df.tail()

,City,Country,Lat,Lng,Max Temperature,Humidity,Cloudiness,Wind Speed,Current Description
0,Hermanus,ZA,-34.4187,19.2345,291.93,80,10000,1.31,few clouds
1,Chul'man,RU,56.8479,124.9104,253.20,93,747,5.53,overcast clouds
2,Butaritari,KI,3.0707,172.7902,301.08,77,10000,6.76,scattered clouds
3,Qaanaaq,GL,77.4840,-69.3632,249.95,71,10000,3.38,scattered clouds
4,Arraial do Cabo,BR,-22.9661,-42.0278,298.19,85,10000,10.13,clear sky
...,...,...,...,...,...,...,...,...,...
94,Moyale,KE,3.5167,39.0584,293.85,35,10000,2.70,broken clouds
95,Port Elizabeth,ZA,-33.9180,25.5701,292.65,89,10000,4.37,overcast clouds
96,Tallahassee,US,30.4383,-84.2807,286.83,74,10000,2.57,smoke
97,Saint George,US,37.1041,-113.5841,286.41,16,10000,1.34,clear sky
98,Cornwall,CA,45.0181,-74.7281,270.21,36,10000,6.69,overcast clouds

In [ ]:
weather_data_df.to_csv('WeatherPy_Database.csv')

In [11]:
len(weather_data_df)

99

In [6]:
city = 'London'
response = requests.get(f'{url}q={city.replace(" ", "+")}&appid={weather_api_key}').json()

In [7]:
response

{'coord': {'lon': -0.1257, 'lat': 51.5085},
 'weather': [{'id': 803,
   'main': 'Clouds',
   'description': 'broken clouds',
   'icon': '04n'}],
 'base': 'stations',
 'main': {'temp': 276.9,
  'feels_like': 273.73,
  'temp_min': 274.19,
  'temp_max': 279.38,
  'pressure': 1034,
  'humidity': 87},
 'visibility': 10000,
 'wind': {'speed': 3.6, 'deg': 270},
 'clouds': {'all': 57},
 'dt': 1643327460,
 'sys': {'type': 2,
  'id': 2019646,
  'country': 'GB',
  'sunrise': 1643269577,
  'sunset': 1643301595},
 'timezone': 0,
 'id': 2643743,
 'name': 'London',
 'cod': 200}