## Deliverable 2. Create a Customer Travel Destinations Map.

In [29]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [36]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv", index_col=0)
city_data_df.head()

,City,Country,Lat,Lng,Max Temperature,Humidity,Cloudiness,Wind Speed,Current Description
0,Busselton,AU,-33.6500,115.3333,71.10,66,10000,17.76,clear sky
1,Saint Paul Harbor,US,57.7900,-152.4072,30.06,89,4760,10.18,overcast clouds
2,Carnarvon,AU,-24.8667,113.6333,77.07,83,10000,5.75,clear sky
3,Vaini,TO,-21.2000,-175.2000,82.18,80,10000,20.13,overcast clouds
4,Saldanha,ZA,-33.0117,17.9442,68.16,70,10000,24.02,clear sky

In [37]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('Enter the minimum desirable temperature: '))
max_temp = float(input('Enter the maximum desirable temperature: '))

Enter the minimum desirable temperature: 75
Enter the maximum desirable temperature: 85

In [38]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
city_filtered_df = city_data_df.loc[(city_data_df['Max Temperature'] >= min_temp) &
                                    (city_data_df['Max Temperature'] <= max_temp)]
city_filtered_df.tail()

,City,Country,Lat,Lng,Max Temperature,Humidity,Cloudiness,Wind Speed,Current Description
694,Atar,MR,20.5169,-13.0499,79.90,17,10000,3.76,broken clouds
695,Kantunil,MX,20.8000,-89.0333,75.92,87,10000,3.85,scattered clouds
703,Bintulu,MY,3.1667,113.0333,77.41,100,10000,0.00,scattered clouds
704,Trairi,BR,-3.2778,-39.2689,79.14,80,10000,5.93,light rain
708,Kaputa,ZM,-8.4689,29.6619,78.76,67,10000,4.52,light rain

In [39]:
# 4a. Determine if there are any empty rows.
city_filtered_df.isna().sum()

City                   0
Country                2
Lat                    0
Lng                    0
Max Temperature        0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [40]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = city_filtered_df.dropna()
clean_df.isna().count()

City                   171
Country                171
Lat                    171
Lng                    171
Max Temperature        171
Humidity               171
Cloudiness             171
Wind Speed             171
Current Description    171
dtype: int64

In [68]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temperature", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.tail(5)

,City,Country,Max Temperature,Current Description,Lat,Lng,Hotel Name
694,Atar,MR,79.90,broken clouds,20.5169,-13.0499,
695,Kantunil,MX,75.92,scattered clouds,20.8000,-89.0333,
703,Bintulu,MY,77.41,scattered clouds,3.1667,113.0333,
704,Trairi,BR,79.14,light rain,-3.2778,-39.2689,
708,Kaputa,ZM,78.76,light rain,-8.4689,29.6619,

In [ ]:
# TESTING
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

a = 43.6187102
b = -116.2146068

params['location'] = f'{a}, {b}'
print(params['location'])
response = requests.get(url, params=params).json()

In [ ]:
hotel_df['Hotel Name']

In [134]:
# TESTING
response['results'][0]['name']

'Hospitality Carnarvon'

In [137]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame   
    lat = row['Lat']
    lng = row['Lng']
    params['location'] = f'{lat}, {lng}'
    
    # 6d. Set up the base URL for the Google Directions (PLACES???) API to get JSON data
    url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search.
    response = requests.get(url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        first_hotel = response['results'][0]['name']
        print(first_hotel)
    except:
        print(f'Hotel not found!!!')

Hospitality Carnarvon
Keleti Beach Resort
Grage Hotel Bengkulu
People ThankYou
Hotel Pigalle
Seagulls Inn Namatani
Hôtel Le Dronmi
Misty Waves Boutique Hotel
Hotel La dorada
Villa Enata
Isles Sunset Lodge
Shandrani Beachcomber Resort & Spa
Chambres d'hôte "La Trinité"
Wesselsbron Lodge
Paradise Inn
Scoop Guest House
Tu Casa
Casa Tia Villa
Sarathy Lodge
Pension Oaoa
Pousada Monte Carmelo O Pão
Southern Sun Waterfront Cape Town
INN NEW HORIZON
VS Villa
Ramada Hotel & Suites by Wyndham Ballina Byron
Shellharbour Resort & Conference Centre
Casa do Kiwliks
Orchid Main Camp Goubet
BON Hotel Waterfront Richards Bay
Hotel not found
Hotel Olako
Bon Abri maldives
Estancia Hotel - Jardim MS
Shanti Maurice Resort & Spa
Oyster Bay House Rental
Saigon Morin Hotel
Hotel Kou-Bugny
Nicaraguan Typical House Downtown
Hotels in Lakshadweep Islands
Hotel Fellip
SEGAYA PROPERTY
Maringe Lagoon Lodge
Hotel Nuquimar
Hotel da Cidade
Auto Hotel El Soñador
Fengshui Residence
Desert Palms Alice Springs
39 On Nile Guest House
Niyama Private Islands Maldives
Hotel La Villa Couacou
Lorengau Harbourside Hotel
LIKWALE LODGE
Taloa Heights
Entre Rios Hotel
Pereybere Hotel & Spa
Castle Motor Lodge Motel
Le Monitel
Lindsey Hôtel
Welcomhotel By ITC Hotels, Bay Island, Port Blair
MURAI BATU BIRD FARM BASE'CAMP IBF
Green Villa beach resort
Moondarra Motel
Batemans Bay Marina Resort
Hôtel Le Lagon
Pangil Beach Resort
Vahmoneh Lodge Vanimo
"Plantation Bed and Breakfast
Beatty Lodge
Guesthouse Samotina
Diego De Almagro Coyhaique
Eng Hiirey House
Broadwater Mariner Resort
Cristalina Palace Hotel
Hotel Arena Blanca
Grand Star Guest House
Hotel Fanilo
Nusa Island Retreat
Bora-Bora Pearl Beach Resort & Spa
Swiss Belhotel Manokwari
Akwa Reef Lodge
Hotel 15 Letras
Sea Lounge! Bar, Club & Restaurant
Hotel not found
Hotel not found
Kost Pria
OYO 598 Peony Hotel
Hotel Delta
Green hotel
Storyboard Beach Resort
Casarão da Amazônia
Mayju
Hotel not found
KOPKAR Hotel Bintang Sintuk
Hotel Chik Chik Namibe
HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel
Villa Park Hotel | Natal
Matu Island
Hotel not found
Casa Dora, Bubaque
Hotel not found
La pousada
Hotel not found
Haajy Guest House 1
Molika Springs Motel
Hôtel Trois Étoiles de Biltine
Agapita M. Nicart
Oceano
Hacienda Gracia
POUSADA TRAVÉS'CIA
Fuente del Guania Hotel de Lujo
Colinas de Matasiete
Desert Gardens Hotel - Ayers Rock Resort
El rranchito michuacan de ocampos
Hotel Syariah CN Darussalam
Hotel not found
Villa Netibor
Puri Bagus Lovina Resort
Radar Palace Hotel
Hotel Fazenda Boa Vista
Ujamaa Beach Resort
Pastori 1 Jemaat Polycarpus
Ilha Praia Hotel
Hotel not found
Pondok Wisata Elim
Le Rocher de Tahiti
Divi Flamingo Beach Resort & Casino
Hotel Gualok
Aryaduta Hotel
Hotel Central
Case de Passage De la Prefecture
The Esplanade Hotel (Accommodation section closed for refurbishment - Bar, Restaurant & Functions remain open)
Atlantis Hotel
LE SAMANA
Hotel Panorama
Gîte kajeon
Les pailles en queue de Sainte Marie
Hotel Pousada Tropical
Quinta Samay
Hotel Vision
Palm garden Resort
The Bannister - Hotel & Yacht Club
Amiin Hotel
HOTEL ISABELA
Nuli Sapi
Kwepunha Retreat
Hotel not found
Grand Kecubung Hotel
Hotel not found
swayamprabha service apartments
Hotel Costa Marina
Hotel Morotin
ibis Styles Karratha
Divi Village Golf & Beach Resort
POUSADA DA ALDENORA
Le Méridien Re-Ndama
HOTEL D'ASSISE
ALETHEIA Appartement Sinnamary
Le gîte du Koniambo
La Ode Husein
Alarne - Área De Lazer Do Alto Rio Negro
Sonesta Maho Beach Resort, Casino & Spa
Sama Emirate Hotel
Inayah Kost
Nancy Montanes Bernardo
Kokopo Beach Bungalow Resort
Tanna Lodge
Oumou Elghoura
Rancho mezcalero gallareta
900 Boutique INN
janelas do mar
Chelelwa Charlets

In [ ]:
# TESTING

# Google Directions
https://maps.googleapis.com/maps/api/directions/json?origin=Disneyland&destination=Universal+Studios+Hollywood&key=YOUR_API_KEY

# Google Places
https://maps.googleapis.com/maps/api/place/nearbysearch/output?parameters

In [75]:
# 7. Drop the rows where there is no Hotel Name.

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure